@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@layer components {
  .layout-border-b {
    @apply border-solid border-b-2 border-middle;
  }
  .layout-border-t {
    @apply border-solid border-t-2 border-middle;
  }
  .layout-border-r {
    @apply border-solid border-r-2 border-middle;
  }
  .layout-border-l {
    @apply border-solid border-l-2 border-middle;
  }
}
